**/__pycache__/**
pamled/media/**/
pamled/pamled_editor/static/**
pamled/pamled_editor/templates/**
**/.vscode
pamled/db.sqlite3
pamled/pamled_editor/client/.editorconfig
pamled/.env
**/node_modules
**/package-lock.json
**/.editorconfig
pamled/general.log
general.log
pamled/pamled_editor/migrations
