django==3.2.9
django-cors-headers
djangorestframework
jsonfield
python-decouple
paml @ git+https://github.com/SD2E/paml.git@347788ece9daacc2c3ea180c56159e97113638e1#egg=paml
# These are pinned version since at the time of writing this the
# NOTE: requires setuptools = "<=57.5.0"
pyparsing==2.4.7
pyshacl==0.14.0
rdflib==5.0.0
rdflib-jsonld==0.5.0
sbol3==1.0b5
sbol-factory==1.0a6
tyto==1.0a5