.App {
  height: 100%;
}

.editor .node {
  background: #CAEBF2;
  border-color: #A9A9A9;
}

.editor .node .title {
  color: black;
}

.editor .node:focus {
  color: yellow;
}

.connection .main-path {
  stroke: #A9A9A9;
}

.editor .node .input {
  color: black;
}

.editor .node .input-title {
  color: black;
}

.editor .node .output-title {
  color: black;
}

.editor .node[name=Input] {
  background: #EFEFEF;

}

.editor .node[name=Output] {
  /* background: #A9A9A9; */
  background: #EFEFEF;
}

.editor .node .node-info {
  float: right;
}

.editor .node[name=Parameter] {
  /* background: #A9A9A9; */
  background: #FF3B3F;
}

.editor .node[ismodule="true"] {
  background: #EFEFEF;
}


.editor .node .socket.timepoint {
  background: #49d30f;
}

.editor .node .socket.number {
  background: gray;
}


.editor .socket.valuespecification {
  background: orange;
}

.editor .socket.measure {
  background: yellowgreen;
}

.editor .socket.sampleCollection {
  background: blueviolet;
}

.editor .socket.component {
  background: rgb(43, 137, 226);
}

.editor .socket.sampledata {
  background: rgb(226, 131, 43);
}

.editor .socket.samplearray {
  background: rgb(226, 43, 64);
}

.editor .socket.anyuri {
  background: rgb(43, 137, 226);
}

.editor .socket.samplemask {
  background: rgb(177, 226, 43);
}

.editor .socket.integer {
  background: rgb(43, 165, 226);
}

.editor .socket .float {
  background: rgb(226, 43, 67);
}

.editor .socket.double {
  background: rgb(43, 147, 226);
}

.editor .socket.containerspec {
  background: rgb(226, 134, 43);
}

.editor .socket.identified {
  background: rgb(217, 43, 226);
}