.App {
  height: 100%;
}

.editor .node {
  background: #CAEBF2;
  border-color: #A9A9A9;
}

.editor .node .title {
  color: black;
}


.editor .node .input {
  color: black;
}

.editor .node .input-title {
  color: black;
}

.editor .node .output-title {
  color: black;
}

.editor .node[name=Input] {
  background: #EFEFEF;
}

.editor .node[name=Output] {
  /* background: #A9A9A9; */
  background: #EFEFEF;
}


.editor .node[name=Parameter] {
  /* background: #A9A9A9; */
  background: #FF3B3F;
}

.editor .node[ismodule="true"] {
  background: #EFEFEF;
}


.editor .node .socket.timepoint {
  background: #49d30f;
}

.editor .node .socket.number {
  background: gray;
}


