.editor-container {
    height: 100%;
    background-color: white;
    padding: 0;
}

.editor {
    height: calc(100% - 40px);
    width: 100%;
    margin: 0px;
}

.editor-pallete-column
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.editor-main-column
{
    /* overflow-y: hidden;
    overflow-x: hidden; */
    height: 100%;
}


.editor-pallete {
    padding-left: 10px;
    height: 100%;
}

.editor-workspace-inspector-row {
    height: 85%;
}

.editor-workspace-column {
    overflow: hidden;
    height: 100%;
    padding: 0;
}


.editor-inspector-column {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    height: 100%;
}

.editor-workspace-background.rete-background {
    z-index: -2;
    background-color: gainsboro;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 2px, rgba(0, 0, 0, 0) 1px);
}

/* Hide bootstrap outline around focused buttons */
.btn:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

#editor-protocol-tabs .dropdown{
  font-family: "DejaVu Sans Mono", "Courier New", monospace;
}
#editor-protocol-tabs .dropdown.current-protocol {
    background-color: lightcyan;
}
#editor-protocol-tabs .dropdown.current-protocol button {
    font-weight: 900;
}
#editor-protocol-tabs .dropdown:not(.current-protocol) {
    background-color: whitesmoke;
}